/************************************
RES: < 660px
*************************************/

@media screen and (max-width: 660px) {

  .pc {
    width: 100%;
    float: none;
    display: block;
  }
  
  .profile-photo {
    float: none;
    display: block;
    margin: 0 auto 40px auto;
    width: 100%;  
  }

  header {
    margin-top: -16px;
    
  }
  
  #button {
  width: 100%;
  }
  
}


/************************************
RES: > 660px
*************************************/

@media screen and (min-width: 660px) {
  
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
    
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em; 
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
   border-bottom: 5px solid #6BC6BB;
   margin-bottom: 60px;
   margin-top: -16px;
  }
  
  nav ul {
    margin-top: 180px;
  }
  
}